
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 1280px;
    margin: 0;
    padding: 10px auto;
    background-color: #00648B;
}

/* Map frame
Always set the map height explicitly to define the size of the div
* element that contains the map. make sure to specify the space for the map*/
#map_frame {
    width: 700px;
    height: 500px;
    float: right;
    position: relative;
    margin: 10px;
}

#image{
    width: 200px;
    height: 50px;
    float: center;
}

#map {
    height: 90%;
    opacity: 0.8;
}

#header {
    padding: 20px;

    color: white;
    width: 100%;
    height: 80px;
    background-color: #003144;
}

#info_frame {
    margin: 20px;
    padding-top: 200px;
    width: 450px;
    height: 550px;
    float: left;
    color: white;

}

span {
    font-weight: bold;
    font-size: 32px;
    color: #14ce7d;

}

/* Form style */
#form {
    height: 2em;
    width: 30px;
    float: left;
}
